:root {
  --blue: #26C6F8;
  --blue_2: #B6E0FF;  
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Vinnytsia';
  src: url('/fonts/VinnytsiaSans-Regular.woff2') format('woff2'),
       url('/fonts/VinnytsiaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden; 
  height: 100%;
}

body {
	position: relative;
  margin: 0;

	display: flex;	

	font-size: 16px;
	color: #000;
  font-family: 'Vinnytsia';

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: var(--blue_2);

	@supports (display: grid) {
		display: block;
	}
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 550px;
  height: 100%;
  background-color: var(--blue);
  opacity: .3;
}

body::before {
  content: "";
  position: absolute;
  top: -465px;
  left: 0;
  width: 400px;
  height: 100%;
  transform: rotate(42.3deg);
  background-color: var(--blue);
  opacity: .3;
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;
}

.main {
	width: 100%;
	position: relative;
	padding: var(--height-header) 0 0;

	flex: 1 0 auto;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

