:root {
    --gl-indent: 3rem;

    --blue: #26C6F8;
    --blue_2: #B6E0FF;
    --height-header: 12rem;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Vinnytsia';
  src: url('/fonts/VinnytsiaSans-Regular.woff2') format('woff2'),
       url('/fonts/VinnytsiaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;

}

@media screen and (min-width: 1024px) {
    html {
        font-size: calc(100vw / 1440 * 10);
    }
}

@media screen and (max-width: 1023px) and (min-width: 375px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 374px) {
    html {
        font-size: calc(100vw / 374 * 10);
    }
}

body {
	position: relative;
  margin: 0;	

	font-size: 1.6rem;
	color: #000;
  font-family: 'Vinnytsia';

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--blue_2);
}

body::after,
body::before {
    content: "";
    position: absolute;
    background-color: var(--blue);
    opacity: .3;
    pointer-events: none;
}

body::before {
    left: 0;
    width: 30rem;
    height: 90rem;
    transform: rotate(42.3deg);
}


.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: calc(100% - var(--height-header));
	height: auto !important;

	overflow-x: hidden;
}

.main {
	width: 100%;
	position: relative;	

	flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
    body {
      display: flex;
    }

    body::after {
        top: 0;
        right: 0;
        width: 29%;
        height: 100%;
    }
}

@media screen and (min-width: 1024px) {
    body::before {
        top: -39.4rem;
    }
}

@media screen and (max-width: 1023px) {
    body::before {
      top: -54.4rem;
    }
}

